<div class="max-w-3xl p-8 mx-auto  overflow-hidden ">
  <header>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:px-8">
      <div class="sm:justify-between sm:items-center sm:flex">
        <div class="text-center sm:text-left">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
            Welcome Back!
          </h1>
          <p class="mt-1.5 text-sm text-gray-500">
            Let's write a new blog post! 🎉
          </p>
        </div>
        <div class="flex flex-col gap-4 mt-4 sm:flex-row sm:mt-0 sm:items-center">
          <% if user_signed_in? %>
            <%= button_to "Logout", logout_path, method: :delete, class: "inline-flex items-center justify-center px-5 py-3 text-gray-500 transition border border-gray-200 rounded-lg hover:text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring" %>
            <%= button_to "Create Post", new_post_path, method: :get, class: "block px-5 py-3 text-sm font-medium text-white transition bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring" %>
          <% else %>
            <%= button_to "Login", new_login_path, method: :get, class: "block px-5 py-3 text-sm font-medium text-white transition bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring" %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <% @posts.each do |post| %>
    <%= render partial: "post", locals: { post: post } %>
  <% end %>
</div>
